.advanced-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 36px 104px;
  &__dropdown-menus-section {
    display: flex;
    gap: 64px;
  }
  &__total-recipes {
    font-family: Anton, sans-serif;
    font-size: 24px;
    font-weight: 400;
  }
}

.tags-container {
  display: flex;
  margin: 36px 104px;
  column-gap: 24px;
  row-gap: 24px;
  flex-wrap: wrap; /* Cette propriété permet aux éléments de passer à la ligne lorsque nécessaire */
  max-width: 100%; /* Assurez-vous que le conteneur ne dépasse pas la largeur de la page */
  overflow: hidden;
}

.dropdown-menus__bloc {
  position: relative;
  width: 192px;
  height: 56px;
  border: none;
  background-color: white;
  border-radius: 11px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__details {
    display: none;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 16px;
  }
}

.dropdown-menus__bloc1,
.dropdown-menus__bloc2,
.dropdown-menus__bloc3 {
  &.open {
    height: 315px;
    .dropdown-menus__bloc__header {
      button {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }
  &.visible {
    height: 315px;
  }
}

.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $color-quaternary;
  border-radius: 2px;
  height: 36px;
  padding: 0px 11px;
  margin: 0 16px 16px 16px;
  &__input {
    border: none;
    width: 100%;
    color: $color-tertiary;
    &:focus {
      outline: none;
    }
  }
  &__delete {
    margin-right: 8px;
  }
  &__launch-search {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.list-items {
  list-style-type: none;
  overflow-y: auto;
  max-height: 200px;
  & li {
    line-height: 30px;
    padding-left: 16px;
    padding-right: 16px;
    &:hover {
      background-color: $color-secundary;
      cursor: pointer;
    }
  }
}

.selected-item {
  background-color: $color-secundary;
  font-weight: bold;
}

.filter-tag {
  display: flex;
  background-color: $color-secundary;
  padding: 16px;
  border-radius: 10px;
  & p {
    margin-right: 48px;
  }
}
